body {
    /*设置背景图片*/
    background-image: url(../jiaoda/22.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.main {
    position: absolute;
    margin: 350px 840px;
    width: 600px;
    transform: translate(-50%, -50%);

}

.register {
    margin-bottom: 60px;
    margin-right: 150px;
    text-align: center;
    color: white;
    font-family: 华文中宋;
    font-size: 68px;
    min-width: 300px;
    /*设置发光效果*/
    text-shadow: 0 0 10px rgb(72, 121, 196), 0 0 20px rgb(72, 121, 196), 0 0 30px rgb(72, 121, 196), 0 0 40px rgb(72, 121, 196);
    caret-color: rgba(255, 255, 255, 0);
}

.content {
    height: 320px;
    width: 450px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(113, 226, 226, 0.4);
    /*阴影设置*/
    background-color: rgba(72, 121, 196, 0.34);
    /*设置颜色，,0.34为透明度，这样不影响子级div的透明度*/
    /*此元素会作为一个表格单元格显示（类似 <td> 和 <th>）*/
    display: table-cell;
    /*垂直居中 */
    vertical-align: middle;
    /*水平居中*/
    text-align: center;
    backdrop-filter: blur(3px);
}

/*input框设置*/
input {
    color: black;
    /*input-value值内容的颜色设置*/

    font-size: 15px;
    /*input字体大小设置值*/
    outline: none;
    /*鼠标点击input框，不显示边框颜色*/
    background-color: rgb(255, 255, 255, 0.7);
    letter-spacing: 2px;
}

/*鼠标触碰用户名框，边框颜色改变*/

.name1 {
    height: 40px;
    width: 230px;
    border-radius: 8px;
    /*设置边框圆角*/
    border-color: white;
    /*边框颜色*/
    margin-top: 5px;

}

.name2 {
    height: 40px;
    width: 230px;
    border-radius: 8px;
    /*设置边框圆角*/
    border-color: white;
    /*边框颜色*/
    margin-top: 20px;

}

.password1 {
    height: 40px;
    width: 230px;
    border-radius: 8px;
    /*设置边框圆角*/
    margin-top: 20px;
    /*设置元素的上外边距。*/

    border-color: white;
    /*边框颜色*/
}

.password2 {
    height: 40px;
    width: 230px;
    border-radius: 8px;
    /*设置边框圆角*/
    margin-top: 20px;
    /*设置元素的上外边距。*/
    margin-bottom: 25px;
    /*设置元素的下外边距。*/
    border-color: white;
    /*边框颜色*/
}

/*鼠标触碰登录，边框颜色改变*/
.button:hover {
    border-color: lavender;
    /*边框颜色*/
    background-color: rgb(72, 121, 196);
}

.button {
    height: 40px;
    width: 130px;
    font-size: 17px;
    color: white;
    font-family: "YouYuan";
    border-radius: 8px;
    /*设置边框圆角*/
    background-color: rgb(255, 136, 0, 0.8);
    /*框背景颜色*/
    border-color: rgba(243, 47, 116, 0);
    ;
    /*边框颜色*/
    letter-spacing: 8px;
    /*字间距*/
    font-weight: 600;
    /*字体加粗*/
    text-indent: 8px;
    /*调整字间距后字体左移的解决方法*/
}